.window{    width: 500px;
    height: 200px;
    border: solid 1px #b5b0b0;
    border-radius: 5px;
    position: absolute;
    left: 30%;
    bottom: 30%;
    background: #eee;
    line-height: 40px;
    text-align: center;
    display: none;
    font-size:16px;
}